
GO
/****** Object:  Database [imdb521]    Script Date: 5/30/2019 9:26:05 PM ******/
CREATE DATABASE [imdb521]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'imdb521', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\imdb521.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'imdb521_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\imdb521_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [imdb521].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [imdb521]
GO
/****** Object:  Table [dbo].[actorMovie]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actorMovie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movieid] [int] NULL,
	[actorid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoviesName] [varchar](max) NOT NULL,
	[YearOfRelease] [varchar](20) NOT NULL,
	[Plot] [varchar](max) NOT NULL,
	[producerid] [int] NOT NULL,
	[imageUrl] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProducersName] [varchar](max) NULL,
	[Sex] [varchar](20) NULL,
	[DOB] [varchar](20) NULL,
	[Bio] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[updatedActors]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[updatedActors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Actor1] [varchar](20) NULL,
	[Sex] [varchar](20) NULL,
	[DOB] [varchar](20) NULL,
	[Bio] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[actorMovie] ON 

INSERT [dbo].[actorMovie] ([id], [movieid], [actorid]) VALUES (1, 1, 1)
INSERT [dbo].[actorMovie] ([id], [movieid], [actorid]) VALUES (2, 1, 7)
INSERT [dbo].[actorMovie] ([id], [movieid], [actorid]) VALUES (3, 1, 2)
SET IDENTITY_INSERT [dbo].[actorMovie] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [MoviesName], [YearOfRelease], [Plot], [producerid], [imageUrl]) VALUES (2, N'Kesari', N'2019-05-02', N'Cape of Good Films Azure Entertainment Zee Studios', 5, N'https://upload.wikimedia.org/wikipedia/en/thumb/c/c4/Kesari_poster.jpg/220px-Kesari_poster.jpg')
INSERT [dbo].[Movies] ([Id], [MoviesName], [YearOfRelease], [Plot], [producerid], [imageUrl]) VALUES (3, N'Uri', N'2019-05-16', N'Strike', 4, N'https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/URI_-_New_poster.jpg/220px-URI_-_New_poster.jpg')
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[Producers] ON 

INSERT [dbo].[Producers] ([Id], [ProducersName], [Sex], [DOB], [Bio]) VALUES (1, N'Yash Chopra', N'Male', N'2019-05-01', N'Yash Chopra')
INSERT [dbo].[Producers] ([Id], [ProducersName], [Sex], [DOB], [Bio]) VALUES (2, N'Ganesh Jain', N'Male', N'2016-06-13', N'Ganesh Jain')
INSERT [dbo].[Producers] ([Id], [ProducersName], [Sex], [DOB], [Bio]) VALUES (3, N'Devang Patel', N'Male', N'2019-05-04', N'Devang Patel')
SET IDENTITY_INSERT [dbo].[Producers] OFF
SET IDENTITY_INSERT [dbo].[updatedActors] ON 

INSERT [dbo].[updatedActors] ([Id], [Actor1], [Sex], [DOB], [Bio]) VALUES (1, N'Aamir Khan', N'Male', N'2019-05-02', N'Aamir Khan')
INSERT [dbo].[updatedActors] ([Id], [Actor1], [Sex], [DOB], [Bio]) VALUES (2, N'Arshad Warsi', N'Male', N'2019-05-17', N'Arshad Warsi')
INSERT [dbo].[updatedActors] ([Id], [Actor1], [Sex], [DOB], [Bio]) VALUES (3, N'Ajay Devgan', N'Male', N'2019-05-10', N'Ajay Devgan')
SET IDENTITY_INSERT [dbo].[updatedActors] OFF
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD FOREIGN KEY([producerid])
REFERENCES [dbo].[Producers] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[actorMovies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[actorMovies](
@id int)
as
begin
select a.id,m.MoviesName,m.YearOfRelease,m.plot,p.ProducersName from actorMovie a
join Movies m on a.movieid = m.Id 
join updatedActors u on a.actorid = u.Id
join Producers p on m.producerid =p.Id
where a.actorid=@id
end


GO
/****** Object:  StoredProcedure [dbo].[ActorName]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ActorName](
@id varchar(max))
as
begin
select distinct Actor1 from updatedActors 
where Actor1=@id
end



GO
/****** Object:  StoredProcedure [dbo].[addactorandmovie]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addactorandmovie](
@movieid int,
@actorid int)
as
begin
insert into actorMovie values(@movieid,@actorid)

end


GO
/****** Object:  StoredProcedure [dbo].[addActors]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addActors](
@Actor1 varchar(20),
@Sex varchar(10),
@DOB varchar(20),
@Bio varchar(max)
)
as
begin
insert into  updatedActors values(@Actor1,@Sex,@DOB,@Bio)
end

GO
/****** Object:  StoredProcedure [dbo].[AddMovies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddMovies](
@MoviesName varchar(max),
@YearOfRelease date,
@Plot varchar(max),
@producerid int,

@image varchar(max)
)
as
begin
insert into Movies values(@MoviesName,@YearOfRelease,@Plot,@producerid,@image)
end


GO
/****** Object:  StoredProcedure [dbo].[addnewmovies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addnewmovies](
@MoviesName varchar(max) ,
@YearOfRelease varchar(20) ,
@Plot varchar(max) ,
@producerid int ,
@imageUrl varchar(max)
)

as
begin
insert into newMovies values(@MoviesName,@YearOfRelease,@Plot,@producerid,@imageUrl)
end


GO
/****** Object:  StoredProcedure [dbo].[addProducers]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addProducers](
@ProducersName varchar(20),
@Sex varchar(10),
@DOB varchar(20),
@Bio varchar(max)
)
as
begin
insert into  Producers values(@ProducersName,@Sex,@DOB,@Bio)
end


GO
/****** Object:  StoredProcedure [dbo].[allmovieswithImage]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[allmovieswithImage]
as
begin
select a.id,m.Id as mov, m.MoviesName,m.imageUrl from actorMovie a
join Movies m on a.movieid = m.Id 
end

GO
/****** Object:  StoredProcedure [dbo].[deleteMovies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteMovies](
@id int)
as
begin
delete from actorMovie
where movieid=@id
end

GO
/****** Object:  StoredProcedure [dbo].[editActorInMovie]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[editActorInMovie](

@actorid int,
@id int )
as
begin
update actorMovie
set actorid=@actorid
where  id =@id
end

GO
/****** Object:  StoredProcedure [dbo].[editMovies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[editMovies](
@Id int ,
@MoviesName varchar(max),
@YearOfRelease varchar(20),
@Plot varchar(max),
@ProducersName int,

@image varchar(max)

)
as
begin
update Movies
set MoviesName=@MoviesName,YearOfRelease=@YearOfRelease,Plot=@Plot,producerid=@ProducersName,imageUrl=@image
where Id=@Id


end

GO
/****** Object:  StoredProcedure [dbo].[moviedetails]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[moviedetails](
@id int )
as
begin


select top 1 a.id,m.Id as movieid,m.MoviesName,m.YearOfRelease,m.plot,m.imageUrl,u.Actor1,p.ProducersName from actorMovie a
join Movies m on a.movieid = m.Id 
join updatedActors u on a.actorid = u.Id
join Producers p on m.producerid =p.Id

where m.Id = @id

end
GO
/****** Object:  StoredProcedure [dbo].[prefilledEdit]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[prefilledEdit](
@id int)
as
begin
select * from Movies
where Id=@id
end





GO
/****** Object:  StoredProcedure [dbo].[ProdName]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ProdName](
@id varchar(max))
as
begin

select distinct ProducersName from Producers
where ProducersName=@id

end



GO
/****** Object:  StoredProcedure [dbo].[producerMovies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[producerMovies](
@id int )
as
begin
select id,MoviesName,YearOfRelease,Plot from Movies
where producerid=@id
end 




GO
/****** Object:  StoredProcedure [dbo].[ProducerNames]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ProducerNames]
as
begin
select Id , ProducersName from Producers
end





GO
/****** Object:  StoredProcedure [dbo].[totalActors]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[totalActors](
@id int)
as
begin
select count(*) as totalActors from actorMovie
where movieid =@id
end

GO
/****** Object:  StoredProcedure [dbo].[viewAllActors]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[viewAllActors]
as
begin
select * from updatedActors a
order by a.Actor1
end


GO
/****** Object:  StoredProcedure [dbo].[viewAllMovies]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[viewAllMovies]
as
begin


select a.id,m.id as movieid,m.MoviesName,m.YearOfRelease,m.plot,u.Actor1,p.ProducersName from actorMovie a
join Movies m on a.movieid = m.Id 
join updatedActors u on a.actorid = u.Id
join Producers p on m.producerid =p.Id

end

GO
/****** Object:  StoredProcedure [dbo].[viewAllProducers]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[viewAllProducers]
as
begin
select * from Producers p
order by p.ProducersName
end

GO
/****** Object:  StoredProcedure [dbo].[viewMoviebyActor]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[viewMoviebyActor](
@ActorName varchar(max) )
as
begin
select a.id,m.MoviesName,m.YearOfRelease,m.plot,p.ProducersName from actorMovie a
join Movies m on a.movieid = m.Id 
join updatedActors u on a.actorid = u.Id
join Producers p on m.producerid =p.Id
where u.Actor1 = @ActorName

end


GO
/****** Object:  StoredProcedure [dbo].[viewMoviebyProducer]    Script Date: 5/30/2019 9:26:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[viewMoviebyProducer](
@ProducerName varchar(max))
as
begin
select a.id,m.MoviesName,m.YearOfRelease,m.plot,u.Actor1,p.ProducersName from actorMovie a
join Movies m on a.movieid = m.Id 
join updatedActors u on a.actorid = u.Id
join Producers p on m.producerid =p.Id
where p.ProducersName = @ProducerName

end


GO
USE [master]
GO
