@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Balaji Kumar</strong><br />
    Mumbai<br />
    <abbr title="Phone">P:</abbr>
    +91 9167447433
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:Support@example.com">vickykumar538@gmail.com</a><br />
    
</address>